<ng-container *ngIf="trip$ | async as trip"
  ><div class="trip-header">
    <button (click)="onGoBackToTripList()">←</button>
    <h2 [ngStyle]="{ color: tripColor }">{{ trip.title | titlecase }}</h2>
  </div>

  <app-step
    (stepIsModified)="onStepGotModified()"
    *ngFor="let step of trip.steps; index as i"
    [step]="step"
    [stepNumber]="i + 1"
    [tripColor]="tripColor"
  ></app-step>
  <div class="add-a-step-container">
    <p>Ajouter une étape:</p>
    <button class="add-a-step" (click)="onAddAStep()">+</button>
  </div>
</ng-container>
