<app-loader-svg
  color="white"
  *ngIf="tripsService.loading$ | async"
></app-loader-svg>
<ng-container
  ><div class="trip-header" *ngIf="editTrip === false && trip">
    <button (click)="onGoBackToTripList()">←</button>
    <h2 [ngStyle]="{ color: tripColor }">{{ trip.title | titlecase }}</h2>
    <button
      class="edit-trip-button"
      (click)="onEditTrip($event)"
      *ngIf="authService.isLoggedAs() !== null"
    >
      <app-edit-svg [color]="tripColor"></app-edit-svg>
    </button>
    <div class="trip-info" *ngIf="tripInfo">
      <p class="trip-info-line">
        Durée:
        <span>{{ tripInfo.duration / 86400000 | number : "1.0-0" }} jours</span>
      </p>
      <p class="trip-info-line">
        Distance:
        <span>{{ tripInfo.distance / 1000 | number : "1.0-0" }} km</span>
      </p>
      <p class="trip-info-line">
        Début: <span>{{ tripInfo.startedIn | date }}</span>
      </p>
    </div>
  </div>
  <ng-container *ngIf="editTrip == false && trip; else editTripFrom"
    ><div @stepList>
      <app-step
        (stepIsModified)="onStepGotModified()"
        *ngFor="let step of trip.steps; index as i"
        [step]="step"
        [stepNumber]="i + 1"
        [tripColor]="tripColor"
        [tripId]="trip.id"
        @stepItem
      ></app-step>
    </div>

    <div class="add-a-step-container" *ngIf="authService.isLoggedAs() !== null">
      <p>Ajouter une étape:</p>
      <button class="add-a-step" (click)="onAddAStep()">+</button>
    </div></ng-container
  >
  <ng-template #editTripFrom>
    <app-update-trip
      *ngIf="editTrip"
      (backToTrip)="onCancelEdit()"
      (tripUdated)="onTripGotUpdated()"
      [trip]="trip"
    ></app-update-trip>
  </ng-template>
</ng-container>
