form {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
}
.add-step-button,
.add-pin-button,
.upload-img-close-button {
  font: inherit;
  cursor: pointer;
  font-size: 2vw;
  color: white;
  background: rgba(0, 0, 0, 0.496);
  border: 0.5px solid white;
  padding: 0.5vw;
  width: fit-content;
  margin: 2vw auto;
  border-radius: 0.5vw;
  transition: transform 100ms ease-in-out;
}
.add-pin-button {
  margin-top: 0.5vw;
  font-size: 1.5vw;
}
label {
  font-weight: 700;
  font-size: 1.7vw;
  margin-bottom: 1vw;
}
input,
select,
textarea {
  padding: 0.5vw;
  color: white;
  background-color: rgba(0, 0, 0, 0.899);
  font-size: 1.5vw;
  max-width: 100%;
}
textarea {
  min-height: 30vh;
}
input:focus-visible {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.882);
  outline: none;
}
.add-step-button:hover {
  box-shadow: 0 0 10px white;
  transform: scale(1.08);
}
.add-step-button:disabled {
  color: rgba(0, 0, 0, 0.416);
  background-color: rgba(255, 255, 255, 0.271);
  border: none;
  cursor: default;
  &:hover {
    box-shadow: none;
    transform: none;
  }
}
.goBack {
  font-size: 3vw;
  text-align: left;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
}
.upload-img-container {
  width: 100%;
  position: relative;
  margin-top: 1vw;
}
.upload-img-close-button {
  position: absolute;
  top: 2%;
  right: 2%;
  backdrop-filter: blur(5px);
}
.upload-img {
  width: 100%;
  object-fit: cover;
}
.upload-img-input {
  border: 1px white solid;
  margin-top: 1vw;
}
.toDelete {
  filter: grayscale(50);
}
