#map-root {
  width: 100%;
  height: 100%;
  position: absolute;
}
.loader-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 55%;
  width: 20%;
}
.layer-picker {
  position: absolute;
  backdrop-filter: blur(10px);
  border-right: none;
  right: 30%;
  top: 60%;
  width: 3.5vw;
  border-radius: 0.5vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.5vw;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.659);
  backdrop-filter: blur(10px);
  border-left: 1px rgba(178, 178, 178, 0.618) solid;
  border-top: 1px rgba(178, 178, 178, 0.618) solid;
  border-bottom: 1px rgba(178, 178, 178, 0.618) solid;
  cursor: pointer;
}
#popup {
  padding: 0.5vw;
  max-width: 30vw;
  max-height: 20vh;
  background-color: white;
  border-radius: 10vw;
  border-top-left-radius: 0;
  box-shadow: 0 0 3px black;
  font-family: "work sans";
  font-weight: bolder;
}
@media screen and (max-width: 650px) {
  .layer-picker {
    right: 0;
  }
}
