<div class="app">
  <div class="map-container">
    <h1 @title>
      <span @letter>B</span>
      <span @letter>a</span>
      <span @letter>c</span>
      <span @letter>k</span>
      <span @letter>m</span>
      <span @letter>a</span>
      <span @letter>p</span>
      <span @letter>p</span>
      <span @letter>e</span>
      <span @letter>r</span>
    </h1>
    <app-map></app-map>
  </div>

  <div class="wrapper" [class.extended]="wrapperExtended">
    <button
      class="extend-button"
      [class.reduce-button]="wrapperExtended"
      (click)="toggleExtendWrapper()"
    >
      {{ "<" }}</button
    ><router-outlet></router-outlet>
  </div>
</div>
<app-notification></app-notification>
