@font-face {
  font-family: "flix";
  src: url("./assets/Flix-Normal.ttf");
}
@font-face {
  font-family: "flix outline";
  src: url("./assets/Flix-Outline.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background: url("./assets/pexels-stefan-stefancik-91228.webp");
  background-size: cover;
}
h2 {
  font-family: "flix";
}
//Le style des éléments de la carte ne peut pas être injecté dans le composant map car ils sont créés par OpenLayers en dehors du composant
.ol-zoom {
  position: absolute;
  right: 30%;
  top: 45%;
  height: 12%;
  padding: 0.8vw;
  border-radius: 0.5vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.659);
  backdrop-filter: blur(10px);
  border-left: 1px rgba(178, 178, 178, 0.618) solid;
  border-top: 1px rgba(178, 178, 178, 0.618) solid;
  border-bottom: 1px rgba(178, 178, 178, 0.618) solid;
  button {
    color: white;
    border: none;
    background-color: black;
    padding: 0.25vw;
    border-radius: 0.5vw;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 1px white;
    }
  }
}

.ol-attribution {
  position: absolute;
  bottom: 0%;
  color: white;
  font-family: "work sans";
  font-weight: 500;
  left: 0;
  width: 71%;
  background-color: rgba(0, 0, 0, 0.718);
  padding-left: 1vw;
  padding-bottom: 1vw;
  backdrop-filter: blur(10px);
  border-top: 1px rgba(178, 178, 178, 0.618) solid;
  & a {
    color: white;
  }
  & button {
    display: none;
  }
  & ul {
    list-style: none;
  }
}
@media screen and (max-width: 650px) {
  .ol-attribution {
    width: 100%;
  }
  .ol-zoom {
    right: 0;
    height: fit-content;
  }
}
