<div
  @stepItem
  *ngIf="step"
  class="travel-step"
  [id]="'step' + step.id"
  (click)="onClick()"
  [ngStyle]="{ 'background-color': tripColor }"
>
  <ng-container *ngIf="!editModal && !deleteModal; else editStep">
    <button
      class="delete-step-button edit-button"
      aria-label="Supprimer"
      (click)="onDeleteStep($event)"
      *ngIf="editbuttonsVisible && authService.isLoggedAs() !== null"
    >
      <app-delete-svg color="white"></app-delete-svg>
    </button>
    <button
      class="edit-step-button edit-button"
      aria-label="Modifier"
      (click)="onEditStep($event)"
      *ngIf="editbuttonsVisible && authService.isLoggedAs() !== null"
    >
      <app-edit-svg color="white"></app-edit-svg>
    </button>

    <h3 class="step-title">{{ step.title }}</h3>
    <p class="step-date">
      Etape#{{ stepNumber }} le {{ step.date | date : "dd/MM/YYYY" }}
    </p>
    <p>{{ step.description }}</p>
    <div *ngIf="step.pictures" @imgList>
      <img
        @stepImg
        class="travel-step-img"
        crossorigin="anonymous"
        *ngFor="let pictureUrl of step.pictures.split(',')"
        [src]="imgUrlPrefix + pictureUrl"
        [alt]="step.title"
      /></div
  ></ng-container>
  <ng-template #editStep>
    <div class="delete-modal" *ngIf="deleteModal; else updateStep">
      <span>Êtes vous sûr de vouloir supprimer cette étape ?</span>
      <div class="button-container">
        <button class="delete-modal-button" (click)="onConfirmDelete($event)">
          Oui</button
        ><button
          class="delete-modal-button non"
          (click)="onCancelDelete($event)"
        >
          Non !
        </button>
      </div>
    </div>
    <ng-template #updateStep>
      <app-update-step
        (goBackToStep)="onCancelEditStep()"
        (stepIsEdited)="onStepIsEdited()"
        [step]="step"
        [tripColor]="tripColor"
        [tripId]="tripId"
      ></app-update-step
    ></ng-template>
  </ng-template>
</div>
