<button class="goBack" (click)="onGoBackToTrip()">←</button>
<form action="">
  <div class="form-field">
    <label for="title">Titre de l'étape</label>
    <input type="text" id="title" name="title" [formControl]="titleCtrl" />
  </div>
  <div class="form-field">
    <label for="date">Date</label>
    <input type="date" name="date" id="date" [formControl]="dateCtrl" />
  </div>
  <div class="form-field">
    <label for="description">Commentaire</label>
    <textarea
      name="description"
      id="description"
      [formControl]="descriptionCtrl"
    ></textarea>
  </div>
  <div class="form-field">
    <label for="coordinates">c'était où ?</label>
    <div>
      <p *ngIf="newStepCoordinates$ | async as coordinates">
        Lon: {{ coordinates[0] | number }} Lat: {{ coordinates[1] | number }}
      </p>
    </div>
    <button (click)="onPlacePinOnMap($event)" class="add-pin-button">
      Placer sur la carte !
    </button>
  </div>
  <button
    (click)="onAddAStep($event)"
    class="add-step-button"
    [disabled]="!stepFormGroup.valid"
  >
    Ajouter
  </button>
</form>
